:root{
    --main-color: #eb5e28;
    /* --main-bg: #e9ecef; */
    --socondary-bg: #f6fff8;
    --text-color: #343a40;
    --text-light-color: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    background: var(--main-bg);
   color: var(--text-color);
   padding: 3rem;
}

.weather-app-container{
    width: 60%;
    height: calc(100vh - 6rem);
    background: var(--secondary-bg);
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-box-container .search-box{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 4px;

    input{
        width: 80%;
        font-size: .9rem;
        color: var(--text-light-color);

        &:focus{
            outline: none;
        }
    }

    button{
        width: 20%;
        color: var(--main-color);
        background: var(--secondary-bg);
    }
}

.weather-portion{
    height: calc(100% - 66px);

    .row{
        .left-part{
            background: rgb(247, 247, 247);
        }
    
        .right-part .container-fluid .row .col div{
             background: rgb(247, 247, 247);
        }
    }

    
}